:root {
    --header-background: #c1bbad; /* Колір фону заголовка */
    --button-background: #f0ece5; /* Колір кнопок */
    --button-hover-background: #bbb6ad; /* Колір кнопок при наведенні */
    --header-text-color: #ffffff;
    --text-color: #2b0909; /* Колір тексту */
    --product-button-background: #F0ECE5; /* Колір кнопки покупки */
    --product-button-hover-background: #bbb6ad; /* Колір кнопки покупки при наведенні */
    --h4-color: #31304D; /* Колір для заголовків h4 */
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(to right, #9fb8b4, #e2bbae);
    position: relative;
    cursor: url('../images/cursor1.png'), auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    
}

.collage-container {
    display: grid;
    grid-template-columns: repeat(5,200px); 
    gap: 15px; 
    justify-content: center;
    align-content: center;  
    height: auto; 
}

.collage-item img {
    width: 100%; 
    height: auto; 
    display: block; 
    opacity: 0.9;
}

.item1 {
    grid-column: span 3;
    grid-row: span 1; 
}

.item2 {
    grid-column: span 2;
    grid-row: span 1; 
}

.item3 {
    grid-column: span 2; 
    grid-row: span 2;
}

.item4 {
    grid-column: span 1; 
    grid-row: span 1;
     align-content: center; 
}

.item5 {
    grid-column: span 2; 
    grid-row: span 1;
}

.forhomep-container {
    width: 100%;
    height: auto; 
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    z-index: 1;
    opacity: 0.9; 
    padding: 20px;
}

.forhomep-background {
    float: left; 
    width: 50%; 
    height: auto; 
    margin-right: 20px; 
}


.home-content {
    position: relative; 
    z-index: 1; 
    padding: 20px; 
}

@media (max-width: 600px) {
    .forhomep-background {
        width: 50%; 
        margin-right: 0; 
    }
}



.home-content {
    overflow: hidden; 
}


.header {
    background-color: var(--header-background); 
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    width: 100%;
    height: 90px;
    z-index: 500;
    position: relative;
}

.header .container {
    display: flex;
    align-items: center;
    width: 100%;
}

.header .button {
    background-color: transparent;
    color: #EEEEEE; 
    text-decoration: none;
    padding: 0;
    margin: 0 15px;
    transition: color 0.3s; 
}

.header .button:hover {
    color: #F2FCFF; 
    transform: scale(1.05); 
}

.header .button:focus {
    outline: none; 
}

.header img.animated-gif {
    width: 40px;
    margin-right: 10px;
    opacity: 0.7;
}

.animated-gif {
    width: 40px;
}

.button {
    display: inline-block;
    background-color: var(--button-background); 
    color: var(--header-text-color); 
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: var(--button-hover-background); 
    cursor: url('../images/cursor2.png'), pointer;
    transform: scale(1.05);
}

.button:focus {
    outline: 2px solid #fff;
}

.form-container {
    position: relative;
    max-width: 400px;
    margin: 100px auto 50px;
    padding: 20px;
    border: 1px solid #758694;
    border-radius: 8px;
    background-color: #EEEEEE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 499;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #000;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #758694;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--button-background);
    position: relative;
    z-index: 2;
}

input[type="submit"]:hover {
    background-color: var(--button-hover-background); 
    cursor: url('../images/cursor2.png'), pointer;
}

section {
    padding: 2rem 0;
    position: relative;
    box-sizing: border-box;
}

.container {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.home-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: calc(135px + 1rem);
}

.text {
    font-size: 20px;
    border-radius: 5px;
    color: var(--header-text-color); 
    margin-right: 5%;
}

footer {
    background: #f2f3f66e; 
    color: #161A30;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 20px; 
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h4 {
    color: #161A30; 
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section a {
    color: #161A30; 
    text-decoration: none; 
    display: block; 
    margin: 5px 0;
}

.footer-section a:hover {
    color: #646b90;
}

.footer-bottom {
    text-align: center;
    font-size: 0.9em;
    margin-top: 20px; 
}

.footer-section form {
    display: flex;
    margin-top: 10px; 
    width: 100%; 
}

.footer-section input[type="email"] {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-right: 10px; 
    font-size: 1em; 
}

.footer-section button {
    flex-shrink: 0; 
    padding: 10px 20px; 
    border: none;
    color: #000000;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
    height: 100%; 
}

.social-icon {
    display: inline-flex;
    align-items: center; 
    margin: 5px 10px; 
    color: var(--header-text-color); 
    text-decoration: none; 
    transition: color 0.3s; 
}

.social-icon svg {
    width: 20px; 
    height: 20px; 
    margin-right: 5px; 
}

.social-icon:hover {
    color: var(--button-background); 
    cursor: url('../images/cursor2.png'), pointer;
}

.newsletter-form {
    display: flex; 
    justify-content: center; 
}

.newsletter-form button:hover {
    background-color: var(--button-hover-background); 
    cursor: url('../images/cursor2.png'), pointer;
}

.footer-bottom {
    margin-top: 20px; 
}

.footer-bottom p {
    margin: 0; 
}


.product-section {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-card h2 {
    font-size: 1.5em;
    margin: 15px 0 10px;
    color: #000; 
}

.price {
    font-size: 1.2em;
    color: #000;
}

.description {
    font-size: 0.9em;
    color: #758694; 
}

.product-card .buy-button {
    display: inline-block;
    background-color: var(--product-button-background); 
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border: none;
}

.product-card .buy-button:hover {
    background-color: var(--product-button-hover-background); 
    cursor: url('../images/cursor2.png'), pointer;
    transform: scale(1.05);
}

.banner-ad {
    position: relative; 
    text-align: center; 
    overflow: hidden; 
    width: 100%;
    height: 200px; 
    margin-bottom: 0px; 
}

.banner-ad img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.banner-ad .overlay {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: #ebe5de97; 
    z-index: 1; 
}

.anton-regular {
    color: #ffffff;
}

.banner-ad p {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 2em;
    color: var(--header-text-color); 
    z-index: 2; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin: 0; 
    padding: 0;
    line-height: 1;
}

.banner-ad .button {
    margin-top: 10px;
}

#testimonials {
    padding: 40px 20px;
    border-radius: 10px;
    margin: 20px 0;
}

#testimonials h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.testimonial {
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 15px;
    background: white;
    border-left: 5px solid #a4a4b4;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(31, 17, 17, 0.1);
}

.icon-button:hover svg {
    transform: scale(1.2);
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5em;
    color: var(--text-color); 
    text-align: center;
}


.svgs {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px; 
    padding: 15px; 
    background-color: #f9f9f9; 
    border-radius: 8px; 
}

.icon-button {
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 50px; 
    height: 50px; 
    margin-right: 15px; 
    border: none; 
    background: transparent; 
    cursor: pointer;
}

.icon-button svg {
    width: 100%; 
    height: auto;
}

.text {
    flex: 1; 
}

.text p {
    margin: 0; 
    line-height: 1.5; 
    color: #333; 
}

#explore-more {
    text-align: center; 
    margin: 40px 0; 
}

.explore-more-container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
}

.cart-button {
    display: inline-flex; 
    align-items: center; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    background-color: #B6BBC4; 
    color: #000; 
    font-weight: bold; 
    font-size: 1.2em; 
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    margin-top: 20px; 
}

.cart-button:hover {
    background-color: #6e6e7e; 
    cursor: url('../images/cursor2.png'), pointer;
}

.cart-button .fa-cart-shopping {
    transition: transform 0.3s ease; 
}

.cart-button:hover .fa-cart-shopping {
    transform: translateX(90px); 
}

.cart-button .fa-box {
    transition: transform 0.3s ease; 
}

  .bungee-shade-regular {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sofadi-one-regular {
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .arrow-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #6a6d7049;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.arrow-up svg {
    fill: rgb(255, 255, 255);
    width: 24px;
    height: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}


nav ul li {
    position: relative; 
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #838e87;
    cursor: url('/images/cursor2.png'), auto; 
}

.submenu {
    display: none;
    position: absolute; 
    background-color: #aaaea2; 
    min-width: 200px;
    z-index: 1000;
}

.submenu li a {
    padding: 10px;
    white-space: nowrap;
}

nav ul li:hover .submenu {
    display: block;
}

nav ul li .has-submenu::after {
    content: ' ▼'; 
    font-size: 12px;
}

nav ul li .submenu li a:hover {
    background-color: #eeeeee99;
    color: #2d1b1ba8;
}
.container1 {
    position: relative;
    width: 100%;
    margin: 20px 0;
  }

.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(41, 49, 51, 0.8); 
  }
  
  .container1:hover .overlay1 {
    opacity: 1;
  }
  
  .text1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .reviews {
    margin-top: 50px;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .review-item {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  .review-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .review-content {
    font-size: 16px;
    color: #333;
  }

@media (max-width: 576px) {
    .collage-container {
        grid-template-columns: repeat(1, 1fr); 
    }
    .item1, .item2, .item3, .item4, .item5 {
        grid-column: span 1; 
    }
    .header, .footer-container {
        flex-direction: column; 
    }
    .text {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .collage-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .item1, .item2, .item3, .item4, .item5 {
        grid-column: span 2;
    }
    .product-card {
        width: 100%; 
    }
    .text {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .collage-container {
        grid-template-columns: repeat(3, 1fr); 
    }
    .product-card {
        width: 250px; 
    }
}


@media (max-width: 1200px) {
    .collage-container {
        grid-template-columns: repeat(4, 1fr); 
    }
    .text {
        font-size: 22px;
    }
}


.arrow-up:hover {
    background-color: #555;
    transform: translateY(-5px);
    cursor: url('/images/cursor2.png'), auto; 
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
    .button,
    .header .button { 
        display: none;
    }
    .menu-toggle {
        display: flex;
    }

    .nav.active {
        display: block;
        position: absolute;
        top: 60px; 
        left: 0;
        background-color: var(--header-background); 
        width: 100%;
    }

    .nav ul {
        flex-direction: column;
    }
}

.form-group {
    margin-bottom: 20px; 
}

.form-control {
    width: 100%;
    padding: 10px; 
    font-size: 1em; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s; 
}

nav ul li a:hover {
    color: #f0f1f8db; 
}

nav ul li a {
    font-family: 'Anton', sans-serif; 
    text-decoration: none; 
    color: #f3f3f3; 
    padding: 10px 15px; 
    transition: background-color 0.3s; 
}